@model HydroBreadcrumbs

<div class="text-sm breadcrumbs">
    <ul>
        <li>
            <a>Home</a>
        </li>
        <li>
            <a>Admin</a>
        </li>
        @* <li>Add Document</li> *@
    </ul>
</div>