@model HydroJoin

<div class="join join-vertical lg:join-horizontal">
    @Model.Slot()

    @* SAMPLE *@

    @* <input class="join-item btn" type="radio" name="options" aria-label="Radio 1"/> *@
    @* <input class="join-item btn" type="radio" name="options" aria-label="Radio 2"/> *@
    @* <input class="join-item btn" type="radio" name="options" aria-label="Radio 3"/> *@
</div>