@model Orchard.Sandbox.Pages.Components.HydroCalendar

@{
    //https://chrisfrew.in/blog/serializing-and-deserializing-to-iso-8601-in-dotnet/
    var initial_date = Model.InitialDate.ToString("o");
    Console.WriteLine(initial_date);
    string slot_duration = "02:00"; // 2 hours
}

<div>

    <h1>Header</h1>
    <div>

        Count: <strong>@Model.Count</strong>
        <button hydro-on:click="@(() => Model.Set(20))">
            Set to 20
        </button>

        <button class="btn btn-primary" hydro-on:click="@(() => Model.Add())">
            Add Event
        </button>
    </div>

    <div>
        <script>

        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // defaultView: 'agendaWeek',
            initialView: 'dayGridMonth',
                // headerToolbar: {
                //   center: 'addEventButton'
                // },               
             });
        
        calendar.on('dateClick', function(info) {
             console.log('Clicked on: ' + info.dateStr);
             console.log('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
             console.log('Current view: ' + info.view.type);
                    
            // edits_enabled = true;
        });
        
        // function add_htmx_attributes(element) {
        //     element.setAttribute("hx-get", "");
        //     element.setAttribute("hx-target", '#result');
        //     element.setAttribute("hx-page", 'Index');
        //     element.setAttribute("hx-page-handler", 'RepaintCalendar');
        // }
        
        function render() {
            console.log('rendering calendar ...');
            calendar.render();
        }
        render();
        // var addeventbtnEl = document.getElementsByClassName( 'fc-addEventButton-button fc-button fc-button-primary')[0]

        // add_htmx_attributes(addeventbtnEl)
        // window.render= render;
        // window.add_htmx_attributes = add_htmx_attributes;
    });
    
    </script>

    </div>

    <div id="calendar"></div>

</div>