@model Orchard.Sandbox.Pages.Components.HydroCalendar

@{
    //https://chrisfrew.in/blog/serializing-and-deserializing-to-iso-8601-in-dotnet/
    var initial_date = Model.InitialDate.ToString("o");
    Console.WriteLine(initial_date);
    string slot_duration = "02:00"; // 2 hours
}
<html>

<head>
    <meta charset='utf-8'/>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            defaultView: 'agendaWeek',
          // initialView: 'dayGridYear', // 'dayGridMonth',
          initialDate: '@initial_date'
        });
        calendar.render();
      });

    </script>
</head>

<div id="calendar"></div>

</html>