@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OrchardCore.Models
@model CalendarEvent

@{
    var calendar_event = Model;
}

@* resources: 
    https://alpinejs.dev/directives/on
    https://alpinejs.dev/essentials/events
 *@
<section>

    @* hx-target="#calendar_container" *@
    <form
        hx-post method="post"
        hx-swap="outerHTML"
        hx-controller="Admin"
        hx-action="OnPostCreateEvent">

        <div class="mb-3">
            <label class="form-label" for="event_name">Event Name:</label>
            <input class="form-control" type="text" asp-for="event_name">
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="start_date"></label>
            <input type="datetime-local" class="form-control" asp-for="start_date">
            <div class="invalid-feedback">
                <span asp-validation-for="start_date"></span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="description"></label>
            <input type="text" class="form-control" asp-for="description">
            <div class="invalid-feedback">
                <span asp-validation-for="description"></span>
            </div>
        </div>

        <button
            submit.prevent="console.log('submitted')"
            class="btn btn-primary"
            type="submit">
            Submit
        </button>

        @* <button *@
        @*     x-on:click="render_calendar()"> *@
        @*     Refresh calendar *@
        @* </button> *@

    </form>

</section>


@* SCRaps *@

@* hx-select-oob="#calendar_container" *@
@* hx-select="#calendar_container" *@

@* @@click.stop *@
@* <button *@
@*     x-on:click="options_panel.show_add_form=false" *@
@*     class="btn btn-secondary"> *@
@*     Cancel *@
@* </button> *@


@* hx-select-oob="#calendar_container" *@
@* hx-select="#calendar_container" *@
@* <button *@
@*     class="btn btn-primary" *@
@*     hx-get *@
@*     hx-swap-oob="true" *@
@* *@
@*     hx-target="#calendar_container" *@
@*     hx-page-handler="Save"> *@
@* *@
@*     OOB Swap *@
@* </button> *@


@* <div> *@
@*     $1$ <span x-text="index"></span> #1# *@
@*     <span x-text="next_event.title"></span> *@
@* </div> *@
@* @@submit.prevent="console.log('submitted')" *@