@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OrchardCore.Models
@model CalendarEvent

@{
    var calendar_event = Model;
}

@* resources: 
    https://alpinejs.dev/directives/on
    https://alpinejs.dev/essentials/events
 *@
<section
    x-data="{
                get target_id() {
                      if(current_tab.name === 'Calendar')
                          return '#calendar_container'
                      else if(current_tab.name === 'Event List')
                          return '#event_list'
                }
            }">

    <h1>@calendar_event.EditMode</h1>
    <pre x-text="current_tab.name">tab?</pre>
    <pre x-text="target_id">target?</pre>
   
    <form
        hx-post method="post"
        hx-swap="outerHTML"
        hx-controller="Admin"
        hx-action="OnPostCreateEvent"
        >

        @* <input hidden type="text" asp-for="EditMode" value="@Model.EditMode"> *@
        
        <div class="mb-3">
            <label class="form-label" for="event_name">Event Name:</label>
            <input class="form-control" type="text" asp-for="event_name">
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="start_date"></label>
            <input type="datetime-local" class="form-control" asp-for="start_date">
            <div class="invalid-feedback">
                <span asp-validation-for="start_date"></span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="description"></label>
            <input type="text" class="form-control" asp-for="description">
            <div class="invalid-feedback">
                <span asp-validation-for="description"></span>
            </div>
        </div>

        <button
            submit.prevent="console.log('submitted')"
            class="btn btn-primary"
            :hx-target="target_id"
            type="submit">
            Submit
        </button>
      
    </form>

</section>
