@model object

<section>

    <p class="alert alert-ghost border-warning border-4">
        ⚠️
        WARNING - This is the Danger Zone! Anything you do here is PERMANENT!
    </p>

    <div hx-target="this">

        <button class="btn btn-error"
                hx-get
                hx-confirm="Are you sure you want to DELETE ALL EVENTS?"
                hx-controller="Admin"
                hx-action="OnGetRemoveAllEvents">
            Delete All Events
        </button>
    </div>

</section>