@* @using Hydro *@
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @* <meta name="hydro-config"/> *@

    @* <script defer src="~/hydro/hydro.js" asp-append-version="true"></script> *@
    @* <script defer src="~/hydro/alpine.js" asp-append-version="true"></script> *@

    <title>@ViewData["Title"] - Sample Calendar</title>

    <script src="https://unpkg.com/htmx.org@latest"
            asp-fallback-src="~/lib/htmx.org/dist/htmx.min.js"
            asp-fallback-test="window.htmx"
            crossorigin="anonymous">
        </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.min.js"
            asp-fallback-src="~/lib/chartjs"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@@3.x.x/dist/cdn.min.js"></script>

    <!-- Alpine Plugins -->
    @* <script defer src='https://cdn.jsdelivr.net/npm/@@alpinejs/persist@3.x.x/dist/cdn.min.js'></script> *@
    <script
        defer
        src="https://cdn.jsdelivr.net/npm/@@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>

    <script src='https://cdn.jsdelivr.net/npm/@@fullcalendar/core@6.1.11/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@@fullcalendar/daygrid@6.1.11/index.global.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @* <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script> *@

</head>

<script>
    
     function generate_calendar(data = [], viewname = 'dayGridMonth'){
          console.log('hello from generate_calendar()')
          var calendarEl = document.getElementById("calendar");
          var calendar = new FullCalendar.Calendar(calendarEl, { 
            nowIndicator: true,
            initialView: viewname,
            headerToolbar: {
              left: "prev,next today",
              center: "title",
              right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth"
            },
            events: data
        });

          calendar.render();
          calendar.setOption('height', 520);
        }
        
         
 function layout_setup(){
    return {
        current_theme: 'dark'
    }
 }
</script>
<body :data-theme="current_theme" x-data="layout_setup()" class="border-2 border-primary">
<header>
    <partial name="_OrchardNav"></partial>
</header>
<div class="">
    <main role="main" class="m-4">
        @RenderBody()
    </main>
</div>

@* <script src="~/js/site.js" asp-append-version="true"></script> *@

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>