@* @using Hydro *@
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @* <meta name="hydro-config"/> *@

    @* <script defer src="~/hydro/hydro.js" asp-append-version="true"></script> *@
    @* <script defer src="~/hydro/alpine.js" asp-append-version="true"></script> *@

    <title>@ViewData["Title"] - Sample Calendar</title>

    <script src="https://unpkg.com/htmx.org@latest"
            asp-fallback-src="~/lib/htmx.org/dist/htmx.min.js"
            asp-fallback-test="window.htmx"
            crossorigin="anonymous">
        </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.umd.min.js"
            asp-fallback-src="~/lib/chartjs"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@@3.x.x/dist/cdn.min.js"></script>

    <!-- Alpine Plugins -->
    <script defer src='https://cdn.jsdelivr.net/npm/@@alpinejs/persist@3.x.x/dist/cdn.min.js'></script>

    <script src='https://cdn.jsdelivr.net/npm/@@fullcalendar/core@6.1.11/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@@fullcalendar/daygrid@6.1.11/index.global.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @* <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script> *@

</head>

<script>
    
    function reload_calendar() {
        let calendar =  $('#calendar')
        console.log('calendar' , calendar);
        
        calendar.rerenderEvents();
        // $('#calendar').fullCalendar('removeEvents');
        // $('#calendar').fullCalendar('refetchEvents');
    }
    
    
    
     function generate_calendar(){
                   console.log('hello from generate_calendar()')
                  var date = new Date();
                  var d = date.getDate();
                  var m = date.getMonth();
                  var y = date.getFullYear();
                
                  var calendarEl = document.getElementById("calendar");
                  var calendar = new FullCalendar.Calendar(calendarEl, { 
                    nowIndicator: true,
                    headerToolbar: {
                      left: "prev,next today",
                      center: "title",
                      right: "dayGridMonth,timeGridWeek,timeGridDay,listMonth"
                    },
                    events: [
                      {
                        title: "Sales Meeting",
                        start: new Date(y, m, 2, 10, 30),
                        end: new Date(y, m, 2, 11, 30),
                        allDay: false
                      },
                      {
                        title: "Marketing Meeting",
                        start: new Date(y, m, 3, 11, 30),
                        end: new Date(y, m, 3, 12, 30),
                        allDay: false
                      },
                      {
                        title: "Production Meeting",
                        start: new Date(y, m, 4, 15, 30),
                        end: new Date(y, m, 4, 16, 30),
                        allDay: false
                      }
                    ]
                });
    
                  calendar.render();
                  calendar.setOption('height', 520);
                }
                
                
    // function GenerateCalendar(events = []) {
    //    
    //     console.log('hello from generatecalendar()')
    //     console.log('event count:>> ', events?.length ?? 0);
    //    
    //      var calendarEl = document.getElementById('calender');
    //      var calendar = new FullCalendar.Calendar(calendarEl, {
    //         initialView: 'dayGridMonth',
    //         // events: events
    //      });
    //     
    //      calendar.render();
    //      // calendar.rerenderEvents();
    //      // return calendar;
    // }
 function layout_setup(){
    return {
        current_theme: 'dark'
    }
 }
</script>
<body :data-theme="current_theme" x-data="layout_setup()" class="border-2 border-primary">
<header>
    <partial name="_OrchardNav"></partial>
</header>
<div class="">
    <main role="main" class="m-4">
        @RenderBody()
    </main>
</div>

@* <script src="~/js/site.js" asp-append-version="true"></script> *@

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>