@model OrchardCore.UISettings

@{
    var settings = Model;
    var themes = settings.Themes;
}


<div x-data="setup_ui_settings_panel()" class="card bg-base-200 w-80">
    <div class="card-body">

        <label for="">Calendar View</label>

        <div class="join join-vertical lg:join-horizontal">

            <template x-for="item in calendar_modes">
                <button name="item.name" x-on:click="pick_me(item.name)" class="btn join-item" x-text="item.name">...</button>
            </template>

        </div>

        <select disabled class="select select-secondary w-full max-w-xs">
            <option disabled selected>Pick your favorite theme</option>

            @foreach (var theme in themes)
            {
                <option x-on:click="current_theme=@theme">@theme</option>
            }
        </select>

        <button
            @@click="generate_calendar()">
            Reload Calendar
        </button>
    </div>
</div>
<script>
    function setup_ui_settings_panel(){
     
        return {
            foo: 'bar',
            sample_events: [
                {id: 1,
                        title: 'foo',
                        desc: 'bar',
                        allDay: true,}
                
            ],
            calendar_modes: [
              { name: "Month"},
              { name:  "Week"},
              { name:   "Day"},
              { name:  "Agenda"},
              { name:  "List"},
            ],
            pick_me(el){
                let selected_mode  = el;
                console.log('element: ' +  selected_mode);
                localStorage.setItem('current_calendar_mode', selected_mode);
            }    
        }    
    }

</script>

@* SCRAPS *@


@* <input placeholder="Email" class="input input-bordered"/> *@
@* <label class="label cursor-pointer"> *@
@*     Accept terms of use zzz *@
@*     <input type="checkbox" class="toggle"/> *@
@* </label> *@
@* <label class="label cursor-pointer"> *@
@*     Submit to newsletter zzz *@
@*     <input type="checkbox" class="toggle"/> *@
@* </label> *@
@* *@

@* <button *@
@*     hx-get *@
@*     hx-page="Index" *@
@*     hx-page-handler="@save" *@
@*     class="btn btn-neutral"> *@
@*     Save *@
@* </button> *@


@* <button *@
@*     x-show="edits_enabled" *@
@*     hx-get *@
@*     hx-page="Index" *@
@*     hx-page-handler="Edit" *@
@*     class="btn btn-neutral"> *@
@*     Update *@
@* </button> *@
@* <label for="">edits on?</label> *@
@* <span x-text="edits_enabled"></span> *@