@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel


@* resources: 
    https://alpinejs.dev/directives/on
    https://alpinejs.dev/essentials/events
 *@
<section>

    <div>
        @* <span x-text="index"></span> *@
        <span x-text="next_event.title"></span>
    </div>
    @* @@submit.prevent="console.log('submitted')" *@
    <form
        hx-post method="post"
        hx-swap="outerHTML"
        hx-target="#calendar_container"
        hx-page="Index">

        <div class="mb-3">
            <label
                x-model="next_event.title"
                :value="next_event.title"
                class="form-label" asp-for="Name">
            </label>
            <input type="text" class="form-control" asp-for="Name">
            <div class="invalid-feedback">
                <span asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="InitialDate"></label>
            <input type="datetime-local" class="form-control" asp-for="InitialDate">
            <div class="invalid-feedback">
                <span asp-validation-for="InitialDate"></span>
            </div>
        </div>


        <div class="mb-3">
            <label class="form-label" asp-for="Description"></label>
            <input type="text" class="form-control" asp-for="Description">
            <div class="invalid-feedback">
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        @* hx-select-oob="#calendar_container" *@
        @* hx-select="#calendar_container" *@
        <button
            hx-swap="outerHTML"
            class="btn btn-primary"
            asp-page-handler="SaveEvent">
            <span x-text="current_handler"></span>
        </button>

    </form>
    @* @@click.stop *@
    @* <button *@
    @*     x-on:click="options_panel.show_add_form=false" *@
    @*     class="btn btn-secondary"> *@
    @*     Cancel *@
    @* </button> *@


    @* hx-select-oob="#calendar_container" *@
    @* hx-select="#calendar_container" *@
    @* <button *@
    @*     class="btn btn-primary" *@
    @*     hx-get *@
    @*     hx-swap-oob="true" *@
    @* *@
    @*     hx-target="#calendar_container" *@
    @*     hx-page-handler="Save"> *@
    @* *@
    @*     OOB Swap *@
    @* </button> *@

</section>