@using OrchardCore.Services
@model object
@inject ISampleMarkdownService markdownService


<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-12">
            @* <h1>Sample Calendar Page - Front End.</h1> *@
            <h1>Hello there!</h1>
        </div>
    </div>
</div>


<style>
    #mainNav{
        background: black;
    }
</style>