@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OrchardCore.Models
@using CodeMechanic.Types
@{
    Layout = "_Layout";
    string url = Context.Request.Path;
    var page_name = url.GetPageFromRoute();
    bool debug_mode = Environment.GetEnvironmentVariable("DEV_MODE").ToBoolean(fallback: false);
}

@* <div x-show="@debug_mode" x-data="setup_calendar_page()"> *@
@* <h1 x-text="current_page_name"></h1> *@
@* <h2>@url</h2> *@
@if (debug_mode)
{
    <h3>@page_name</h3>
}
@* </div> *@

<partial name="_CalendarView"></partial>


@* *@
@* <script> *@
@*     const currentUrl = window.location.href; *@
@*     console.log(currentUrl); *@
@*     const current_page = currentUrl.match(/\/(\w+)\//i)[1]; *@
@*     console.log(current_page); *@
@*     function setup_calendar_page(){ *@
@*         return {   *@
@*             current_page_name: current_page *@
@*         } *@
@*     } *@
@* </script> *@